body {
    padding-top: 70px;
}
h1 {
    font-family: Domine;
    font-size: 72pt;
    line-height: 150px;
}
h2 {
    font-family: Quattrocento Sans;
    font-size: 36pt;
    line-height: 100px;
}

.logo {
    max-height: 25px;
    max-width: 25px;
}
.hero {
  /* background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/DWLWL9USBG.jpg') no-repeat fixed; */
  background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UUY821MG70.jpg') no-repeat fixed;
  background-size: cover;
  text-align: left;
  /* height: 500px; */
  color: white;
  padding: 10px 10px 0px 10px;
}
.sm_snaps {
    height: 200px;
    width: 200px;
}
.sub_header {
    font-family: Quattrocento Sans;
    font-size: 24pt;
}