body {
    padding-top: 70px;
}
h1 {
    font-family: Domine;
    font-size: 72pt;
    color: #333333;
}
h2 {
    font-family: Quattrocento Sans;
    font-size: 30pt;
    color: #333333;
}
.nav.navbar-nav li a {
    color: #333333;
}
.nav.navbar-nav li a:hover {
    color: #ff6600;
    background-color: transparent;
}

.logo {
    max-height: 25px;
    max-width: 25px;
}
.boxes {
    background-color: rgba(255, 255, 255,0.5);
    margin: 10px;
}
.main_row {
    margin: 10px;
}
.hero {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/U5LYW9UWS0.jpg');
  background-size: cover;
  text-align: left;
  height: 1000px;
  color: #333333;
  padding: 10px 10px 0px 10px;
}

.grid-sizer,
.grid-item { 
      float: left;
      padding: 10px;
      width: 20%;
      margin: 0 auto;
      color: #333333;
      font-size: 10pt;
      /*border: 1px solid hsla(0, 0%, 0%, 0.5);*/
    
}
.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }

.gi_hover {
  content: attr(verse);
  opacity: .25;
  z-index: 10;
  display: inline;
  background: rgba(255,255,255,0.96);
}

a.hovertext {
    position: relative;
    width: 500px;
    text-decoration: none !important;
    text-align: center;
}
  
a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
}

.sub_header {
    font-family: "Quattrocento Sans";
    font-size: 22pt;
    color: #333333;
    padding: 0px 10px 0px 10px;
}
.features {
    padding: 0px 10px 0px 10px;
    font-size: 12pt;
    line-height: 175%;
    font-family: "Quattrocento Sans";
    color: #333333;
    text-align: justify;
}
.some_section {
    padding: 15px;
}