body {
    padding-top: 70px;
    /* background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UUY821MG70.jpg') no-repeat fixed; */
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UUY821MG70.jpg');
}
h1 {
    font-family: Domine;
    font-size: 72pt;
}
h2 {
    font-family: Quattrocento Sans;
    font-size: 36pt;
}

.logo {
    max-height: 25px;
    max-width: 25px;
}
.hero {
  /* background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/DWLWL9USBG.jpg') no-repeat fixed; */
  /* background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UUY821MG70.jpg') no-repeat fixed; */
  /* background-size: cover; */
  text-align: left;
  /* height: 500px; */
  color: white;
  padding: 10px 10px 0px 10px;
}
.sub_header {
    font-family: "Quattrocento Sans";
    font-size: 22pt;
    color: #fff;
    padding: 0px 10px 0px 10px;
    max-width: 50%;
}
.features {
    padding: 0px 10px 0px 10px;
    font-size: 14pt;
    line-height: 175%;
    font-family: "Quattrocento Sans";
    color: #fff;
    text-align: justify;
    max-width: 50%;
}
.some_section {
    padding: 15px;
}